.cart-container{
    padding: 4rem 10%;
    min-height: 100vh;
}

.cart-table{
    text-align:center;
}



.cart-item-img{
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 1px #000;
    cursor: pointer;
}
.cart-title{
    color: #ddd;
    font-weight: 400;
}

.main-row{
    font-size: 0.7rem;
}

#item-full-title{
    color: #444;
    font-size: 0.9rem;
    padding:0; 
    font-size: 0.9rem;
    text-align: start
}

.item-title{
    font-size: 1.05rem;
    color: #000;
    margin-right: 0.3rem;
}


.monto-total{
    font-size: 1.5rem;
}

.cart-to-products, .cart-to-products:hover{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.purchase-button{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.empty-cart-text{
    color: #ccc;
}

.clean-button{
    font-size: 0.8rem;
}

.remove-button{
    font-size: 1.5rem;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #933;
}

@media (max-width: 991px){
    .cart-container{
        padding: 4rem 2%;
    }

    .main-row > th{
        padding: 0.5rem 0;
    }
    .main-row {
        font-size: 0.6rem;
    }

    .cart-item-img{
        display: none;
    }

    #item-full-title{
        color: #444;
        font-size: 0.7rem;
    }
    
    .item-title{
        font-size: 0.9rem;
        color: #000;
        margin-right: 0.3rem;
    }
    #item-quantity, #item-price, #item-subtotal{
        font-size: 0.8rem;
    }

    .monto-total{
        font-size: 1rem;
    }

    .clean-button{
        font-size: 0.7rem;
    }

    .cart-to-products, .cart-to-products:hover, .purchase-button{
        font-size: 0.9rem;
    }
    
}