.cart-container{
    padding: 4rem 10%;
}


#item-full-title{
    color: #aaa;
    font-size: 0.9rem;
}

.item-title{
    font-size: 1.05rem;
    color: #fff;
    margin-right: 0.3rem;
}


.monto-total{
    font-size: 1.5rem;
    color: #f85;
}

.cart-to-products, .cart-to-products:hover{
    color: #fff;
    text-decoration: none;
}

.cart-buttons{
    display: flex;
    justify-content: space-between;
    width: 45%;
}


.purchase-toast-container{
    position: fixed;
    bottom: 5%;
    right: 3%;
}

.purchase-toast-title{
    font-size: 2rem;
    color: #3b5;
    margin: auto;
}

.purchase-toast-text{
    font-size: 1rem;
    text-align: center;
}