.cart-container{
    padding: 4rem 10%;
    min-height: 100vh;
}
.cart-title{
    color: #ddd;
    font-weight: 400;
}

.main-row{
    font-size: 1.2rem;
}

#item-full-title{
    color: #444;
    font-size: 0.9rem;
}

.item-title{
    font-size: 1.05rem;
    color: #000;
    margin-right: 0.3rem;
}


.monto-total{
    font-size: 1.3rem;
    color: #e41;
    padding: 1rem;
}

.cart-to-products, .cart-to-products:hover{
    color: #fff;
    text-decoration: none;
}

.purchase-button, .clean-button{
    margin-right: 1rem;
}

.empty-cart-text{
    color: #ccc;
}

.purchase-toast-container{
    position: fixed;
    bottom: 5%;
    right: 3%;
}

.purchase-toast-title{
    font-size: 2rem;
    color: #3b5;
    margin: auto;
}

.purchase-toast-text{
    font-size: 1rem;
    text-align: center;
}
