.item-detail-container{
    margin: 4rem auto;
    width: 80%;
}

.content{
    background-color: #000b;
    padding: 3rem;
}

.titles{
    padding: 2rem;
    background-color: #000a;
}

.detail-title{
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
    color: #eee;
    text-shadow: 1px 1px 5px black;
}

.detail-title span{
    font-weight: bold;
}

.detail-artist{
    text-align: center;
    color: #eee;
    font-size: 1.5rem;

}

.main-content{
    padding: 2rem;
}

.col-md-8, .col-md-4{
    padding: 0.8rem;
}

.description{
    display: flex;
    flex-direction: column;
    background-color: #cefa;
    padding: 1.5rem;
    border-radius: 1rem;
    min-height: 15rem;
}

.description-text{
    text-align: center;
    color: #111;
    margin-top: 1rem;
}

.track-list{
    display: flex;
    flex-direction: column;
    background-color: #efca;
    padding: 1.5rem;
    border-radius: 1rem;
    min-height: 15rem;
}

.track-list > ol{
    margin-top: 1rem;
    font-weight: 500;
}

h6{
    font-size: 1.2rem;
    color: #000;
}

.price-tag{
    font-size: 2rem;
    text-align: center;
    background-color: #999a;
    color: #fff;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.price-tag-container{
    padding: 0 2.75rem;
}