.item-detail-container{
    display: flex;
    align-items: center;
    padding: 0;
}

.background-container{
    width: 100vw;
    height: 200vh;
    position: absolute;
    overflow: hidden;
    margin: 0;
}

.detail-background{
    filter: grayscale(0.3) blur(0.4rem) brightness(0.6);
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: 0;
}

.item-detail-card{
    margin: 4rem auto;
    width: 80%;
    background-color: #fffd;
    padding: 4rem 2rem 1rem;
    position: relative;
    display: row;
    border-radius: 2rem;
}

.col-lg-6{
    padding: 0 4rem;
}

.detail-img-container{
    width: 100%;
    height: 24rem;
    border-radius: 0.2rem;
    text-align: center;
    overflow: hidden;
}

.detail-img{
    height: inherit;
}

.titles{
    display: flex;
    flex-direction: column;
}

.detail-title{
    font-weight: 100;
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
}

.detail-artist{
    color: #222;
    font-size: 1.5rem;
}

.main-content{
    padding: 2rem;
}

.description{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.description-text{
    color: #000;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

.price-tag{
    font-size: 2.5rem;
    color: #222;
    margin-top: auto;
}

.track-list{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.track-list > ol{
    font-weight: 500;
    padding: 0;
    font-size: 0.8rem;
}

.track-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    color: #121212;
}

.track-duration{
    font-size: 0.8rem;
    color: #222;
}

h6{
    color: #000;
    font-weight: 600;
    font-size: 1.3rem;
}

.demo{
    width: 100%;
}

.no-demo-text{
    color: #333;
    width: fit-content;
    margin: 4rem auto;
    padding: 0.6rem;
    font-size: 0.9rem;
    border-top: 1px solid #555;
}

.prev-controller{
    text-decoration: none;
    color: #aaa;
    font-weight: bolder;
    font-size: 4rem;
    z-index: 100;
}

.next-controller{
    text-decoration: none;
    color: #aaa;
    font-weight: bolder;
    font-size: 4rem;
    z-index: 100;
}

.prev-controller:hover, .next-controller:hover{
    color: #fff;
}