.item-detail-container{
    display: flex;
    align-items: center;
    padding: 0;
}

.background-container{
    width: 100vw;
    height: 150vh;
    position: absolute;
    left: -0.5rem;
    overflow: hidden;
    margin: 0;
}

.detail-background{
    filter: grayscale(0.3) blur(0.4rem) brightness(0.6);
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: 0;
}

.item-detail-card{
    margin: 4rem auto;
    width: 80%;
    background-color: #fffd;
    padding: 4rem 2rem 1rem;
    position: relative;
    display: row;
    border-radius: 2rem;
}


.row{
    margin: 0; 
}

.main-column{
    padding: 0 4rem;
}

.detail-img-container{
    width: 100%;
    max-height: 24rem;
    max-width: 24rem;
    border-radius: 0.2rem;
    text-align: center;
    overflow: hidden;
    margin: auto;
}

.detail-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titles{
    display: flex;
    flex-direction: column;
}

.genres-container{
    display: flex;
    flex-wrap: wrap;
}

.genres{
    font-size: 0.8rem;
    color: #eee;
    background-color: #777;
    border-radius: 5px;
    width: fit-content;
    padding: 0.2rem 0.3rem;
    margin: 0.3rem ;
    margin-left: 0;
    text-decoration: none;
}

.genres:hover{
    color: #fff;
    background-color: #888;
}

.detail-title{
    color: #000;
    font-weight: bold;
    font-size: 2rem;
}

.detail-artist{
    color: #222;
    font-size: 1.5rem;
    cursor: pointer;
}

.detail-artist:hover{
    color: #333
}

.main-content{
    padding: 2rem;
}

.description{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.description-text{
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1rem;
    max-height: 10rem;
    overflow: auto;
    font-style: italic;
    color: #444;
}

.description-text::-webkit-scrollbar, .track-list::-webkit-scrollbar {
    width: 6px;
}


.description-text::-webkit-scrollbar-thumb, .track-list::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #444;
}


.price-tag{
    font-size: 2.5rem;
    color: #222;
    margin-top: auto;
}

.track-list{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    max-height: 10rem;
    overflow: auto;
}

.track-list > ol{
    font-weight: 500;
    padding: 0;
    font-size: 0.8rem;
}

.track-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    color: #121212;
}

.track-duration{
    font-size: 0.8rem;
    color: #222;
}

h6{
    color: #000;
    font-weight: 600;
    font-size: 1.3rem;
}

.btn-cart-container{
    display: flex;
}

.btn-finish-purchase, .btn-keep-buying{
    margin: 0.4rem;
    padding: 0.7rem;
}



.demo{
    width: 100%;
}

.no-demo-text{
    color: #333;
    width: fit-content;
    margin: 4rem auto;
    padding: 0.6rem;
    font-size: 0.9rem;
    border-top: 1px solid #555;
}


.prev-controller:hover, .next-controller:hover{
    color: #fff;
}

.toast-container{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3000;
}

.detail-toast-title{
    color: #111;
    font-size: 1.1rem;
}

.cancel-btn, .cancel-btn:hover{
    color: #544;
    border: none;
    font-size: 0.9rem;
}


@media (max-width: 991px) {
    .item-detail-card{
        margin: 1rem auto;
        width: 90%;
        padding: 3rem 0;
        position: relative;
        display: row;
        border-radius: 1rem;
    }

    .main-column{
        padding: 0 2rem;
        margin-top: 1rem;
    }

    .detail-img-container{
        max-height: 15rem;
        max-width: 15rem;
        margin: auto;
    }

    .detail-title{
        font-size: 1.7rem;
        margin: auto;
    }

    .detail-artist{
        font-size: 1rem;
        margin: 0.5rem auto;
    }
    
    .genres-container{
        justify-content: center;
        margin-top: 1rem;
    }

    .genres{
        font-size: 0.7rem;
        padding: 0.1rem 0.2rem;
    }

    .description-text{
        margin: 1rem auto;
        font-size: 0.8rem;
    }

    .price-tag{
        margin: auto;
        font-size: 2rem;
    }


    .track-list > ol{
        padding: 0;
        font-size: 0.7rem;
    }

    
    .track-duration{
        font-size: 0.7rem;
    }

    .btn-cart-container{
        justify-content: center;
        flex-wrap: wrap;
    }

    .no-demo-text{
        display: none;
    }

    .demo{
        display: none;
    }

}