.cart-container{
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
}

.cart-anchor{
    margin: auto;
}

.cart-img{
    height: 1.7rem;
}

.cart-container:hover{
    background-color: #555;
    box-shadow: 0 0 2px black;
}

.cart-container:active{
    box-shadow: none;
    transform: scale(0.97);
}