.cart-widget-container{
    height: 3.2rem;
    display: flex;
}

.cart-icon-btn{
    display: flex;
    background-color: transparent;
    border: none;
}

.cart-icon-link{    
    margin: auto;
}

.cart-img{
    height: 1.7rem;
}

.cart-icon-btn:hover{
    transform: scale(1.04);
}

.cart-icon-btn:active{
    box-shadow: none;
    transform: scale(1);
}
