.about{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.about-background{
    position: absolute;
    top: 0;
    left:-1rem;
    object-fit: cover;
    width: 100vw;
    filter: grayscale(0.3) blur(0.4rem) brightness(0.7);
}

.about-card{
    width: 50rem;
    border: none;
    align-self: center;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    align-self: center;
}



.about-overlay{
    padding: 8% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-img{
    filter: grayscale(0.3) brightness(0.8);
    transition: transform 7s;
}

.about-title{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    margin-bottom: auto;
    text-shadow: 0 0 4px black;
}

.about-content{
    color: #fff;
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.85rem;
}
