.about-background{
    position: absolute;
    object-fit: cover;
    width: 100vw;
    filter: grayscale(0.3);
}

.about-card{
    position: relative;
    padding: 4rem;
}

.about-title{
    color: #fce5b0;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-shadow: 0 0 5px black;
}

.about-content{
    background-color: #000c;
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: center;

}

.about-text{
    color: #fce5b0;
    margin: 1rem;
}