.item-card{
    width: 16rem;
    height: fit-content;
    min-height: 20rem;
    transition: scale, 0.2s;
    display: flex;
    margin: 1.5rem 0.5rem;
    border: none;
    background-color: #0b0b11;
    cursor: pointer;
}

.item-card:hover {
    box-shadow: 0 0 8px #000;
    background-color: #202026;
}

.item-card-disabled{
    width: 16rem;
    height: fit-content;
    min-height: 20rem;
    transition: scale, 0.2s;
    display: flex;
    margin: 1.5rem 0.5rem;
    border: none;
    background-color: #151516;
    cursor: pointer;
}


.item-card-disabled:hover  #sold-out{
    animation: shake 0.15s;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(5deg); }
    40% { transform: rotate(0deg); }
    60% { transform: rotate(-5deg); }
    80% { transform:  rotate(0deg); }
    100% { transform: rotate(5deg); }
  }

.img-container{
    display: flex;
    height: 11rem;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-img-top{
    filter: brightness(0.6) grayscale(0.5);
    transition: filter, 0.2s;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 2s;
    border-radius: none;
}

.item-card:hover .card-img-top {
    filter: brightness(1) grayscale(0);
    transform: scale(1.03);
}


.item-card-title{
    color: #eee;
    text-align: center;
    align-self: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.item-card-text{
    text-align: center;
    color: #aaa;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.item-card-body{
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.item-card-img-overlay{
    font-size: 1rem;
    text-align: center;
    height: fit-content;
    background-color: #0000;
    color: transparent;
    padding: 0;
    transition: background-color 0.2s, color 0.2s;
}

.item-card-overlay{
    padding: 0.3rem;
}


.item-card:hover .item-card-overlay{
    background-color: #000b;
    color: #fff;
}

.card-footer{
    background-color: transparent;
    font-size: 0.8rem;
    display: none;
    justify-content: center;
    margin-top: auto;
    padding-top: 0;
}

.item-card:hover .card-footer{
    display: flex;
}

.text-footer{
    margin: 0.15rem;
}

.length{
    color: #fff;
    font-weight: 500
}

#sold-out, #last-available{
    font-size: 0.8rem;
    width: fit-content;
    margin: 0 auto 0.5rem; 
    padding: 0.2rem 1rem
}

@media (max-width: 991px) {
    .item-card, .item-card-disabled{
        width: 12rem;
        min-height: 17rem;
        margin: 1rem 0.5rem;
    }

    .img-container{
        height: 8rem;
    }

    .item-card-title{
        font-size: 1rem;
    }

    .item-card-body{
        padding: 1rem 0.5rem;
    }

    .item-card-text{
        text-align: center;
        color: #aaa;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .card-footer{
        font-size: 0.7rem;
        display: block;
        padding: 0.5rem;
    }

    #sold-out, #last-available{
        font-size: 0.7rem;
        padding: 0.2rem 0.5rem
    }
}