.card{
    width: 18rem;
    height: fit-content;
    min-height: 22rem;
    transition: scale, 0.2s;
    display: flex;
    margin-top: 3rem;
    box-shadow: 0 0 2px #999;
}

.img-container{
    display: flex;
    height: 10rem;
    width: 100%;
    overflow: hidden;
}

.card-img-top{
    filter: brightness(0.5) grayscale(0.6);
    transition: filter, 0.2s;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-title{
    color: #000;
    text-align: center;
    align-self: center;
    font-weight: bold;
}

.card-text{
    text-align: center;
    color: #555;
}

.card-body{
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

p.card-img-overlay{
    font-size: 1rem;
    text-align: center;
    height: fit-content;
    background-color: #0000;
    color: transparent;
    padding: 0.3rem;
    transition: background-color 0.2s, color 0.2s;
}

.card:hover {
    box-shadow: 0 0 8px #555;
}

.card:hover .card-img-top {
    filter: brightness(1) grayscale(0);
}

.card:hover .card-img-overlay{
    background-color: #000b;
    color: #fff;
}

.btn-primary{
    width: 100%;
    margin-top: 0;
}

.card-footer{
    background-color: transparent;
    font-size: 0.8rem;
    margin-top: auto;
}

.text-footer{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.length{
    color: #000;
    font-weight: 500
}