.navbar{
    background-color: #0a0a0f;
    padding: 0 10%;
    height: 5.5rem;
    z-index: 100000;
}

.logo-navbar{
    height: 3.7rem;
    margin-right: 0.8rem;
}

.navbar-content{
    display: flex;
    align-items: center;
}

.nav-section{
    font-size: 1.2rem;
    margin: 1rem;
    color: #fce5b0;
    font-weight: 400;
    border-radius: 15px;
    text-decoration: none;
}

#nav-section-home:hover{
    color: #ec1941;
}

#nav-section-artists:hover{
    color: #85b0dc;
}

#nav-section-genres{
    color: #fce5b0;
}

#nav-section-genres:hover{
    color: #fb6e3f;
}


#nav-section-about:hover{
    color: #ffad00;
}


#nav-section-contact:hover{
    color: #005a65;
}

.dropdown-item{
    color: #222;
}

.dropdown-item:hover{
    background-color: #fb6e3f;
}

#see-all-genres:hover{
    background-color: #222;
    color: #fff;
}

@media (max-width: 991px){
    .navbar{
        padding: 0;
    }
}