.navbar{
    background-color: #222;
    padding: 0 10%;
    height: 4.5rem;
    z-index: 100000;
}

.logo-navbar{
    height: 3.7rem;
    margin-right: 0.8rem;
}

.navbar-content{
    display: flex;
    align-items: center;
}

.nav-section{
    font-size: 1.2rem;
    margin: 1rem;
    color: #fce5b0;
    font-weight: 400;
    border-radius: 15px;
    text-decoration: none;
}

#nav-section-products:hover, #nav-section-products:focus{
    color: #ec1941;
}

#nav-section-genres{
    color: #fce5b0;
}

#nav-section-genres:hover, #nav-section-genres:focus{
    color: #fb6e3f;
}

#nav-section-about:hover, #nav-section-about:focus{
    color: #ffad00;
}

#nav-section-contact:hover, #nav-section-contact:focus{
    color: #005a65;
}

.dropdown-item{
    background-color: #fce5b0;
    color: #222
}

.dropdown-item:hover{
    background-color: #fff;
}
