.contador-container{
    display: flex;
    justify-content: center;
}

.btn-resta{
    padding: 15px;
    width: 100px;
    height: 100%;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 2rem;
}

.btn-resta:active{
    background-color: #111;
}

.btn-suma{
    padding: 15px;
    width: 100px;
    height: 100%;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 2rem;
}

.btn-suma:active{
    background-color: #111;
}

.contador{
    padding: 15px 3rem;
    background-color: rgb(21, 135, 206);
    height: 100%;
    color: #000;
    font-size: 2rem;
}

.warnings{
    display: flex;
    justify-content: center;
}

#stock-max, #stock-min{
    color:#d33;
    display: none;
    background-color: #111;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

