.navbar{
    background-color: #3a3a3a;
}

.logo-navbar{
    height: 4.5rem;
}

.navbar-brand{
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffeecc;
}

.nav-item > a{
    color: #d8c5aa;
    font-size: 1.2rem;
    border-radius: 0.3rem;
}

.nav-item > a:hover{
    color: #fed;
}

.nav-item > a:focus{
    background-color: #ffeecc;
    color: rgb(0, 0, 0);
}

.navbar-nav{
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

.form-control{
    width: fit-content;
}