.footer-container{
    height: 15rem;
    background-color: #0a0a0f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1000;
}
