.footer-container{
    height: 10rem;
    background-color: #0a0a0f;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2000;
    padding: 2rem;
}

.footer-text{
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
}

.footer-links{
    font-size: 0.8rem;

}

a {
    text-decoration: none;
}


@media (max-width: 991px) {
    .footer-text{
        margin-bottom: 0.5rem;
        font-size: 0.6rem;
        text-align: center;
    }
    
    .footer-links{
        font-size: 0.6rem;
    
    }
}