.contador-container{
    display: flex;
    align-items: center;
}

.btn-resta{
    width: 3.2rem;
    height: 3rem;
    border: 2px solid #444;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
    color: #333;
    font-size: 1.5rem;
    z-index: 10;
}

.btn-resta:active{
    background-color: #aaa;
}

.btn-resta-disabled:focus{
    cursor:default;
}

.btn-suma{
    width: 3.2rem;
    height: 3rem;
    border: 2px solid #444;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: transparent;
    color: #333;
    font-size: 1.5rem;
    z-index: 10;
}

.btn-suma:disabled, .btn-resta:disabled{
    color: #888;
}

.btn-suma:disabled:active, .btn-resta:disabled:active{
    background-color: transparent;
}

.btn-suma:active{
    background-color: #aaa;
}


.contador{
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    color: #111;
    font-size: 1.5rem;
    font-weight: 400;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    text-align: center;
}


.warning-container{
    display: inline-flex;
    justify-content: center;
    margin: 0.3rem auto
}


.btn-add-container{
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.btn-add{
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #74b;
    border: none;
    color: #fff;
    border-radius: 10px;
    width: fit-content
}

.btn-add:hover{
    background-color: #529;
    color: #fff;
}


@media (max-width: 991px) {

    .item-count-container{
        display: flex;
        flex-direction: column;
    }

    .contador-container{
        margin: auto
    }

    .btn-add{
        margin: auto;
    }

}