.contador-container{
    display: inline-flex;
}

.btn-resta{
    width: 3.2rem;
    height: 3rem;
    border: 2px solid #444;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
    color: #333;
    font-size: 1.5rem;
    z-index: 10;
}

.btn-resta:active{
    background-color: #aaa;
}

.btn-resta-disabled{
    width: 3.2rem;
    height: 3rem;
    border: 2px solid #444;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
    color: #888;
    font-size: 1.5rem;
    z-index: 10;
}

.btn-resta-disabled:focus{
    cursor:default;
}

.btn-suma{
    width: 3.2rem;
    height: 3rem;
    border: 2px solid #444;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: transparent;
    color: #333;
    font-size: 1.5rem;
    z-index: 10;
}

.btn-suma:active{
    background-color: #aaa;
}


.contador{
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    color: #111;
    font-size: 1.5rem;
    font-weight: 400;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    text-align: center;
}


.warning-container{
    display: inline-flex;
    justify-content: center;
}

.warning, .stock{
    color: #000;
    background-color: #d33;
    width: fit-content;
    height: 1.7rem;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.stock{
    background-color: #44e;
    margin-left: 1rem;
}

.btn-comprar-container{
    display: flex;
    justify-content: center;
}

.btn-add{
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #74b;
    border: none;
    color: #fff;
    border-radius: 10px;
    width: 100%;
}

