.item-list-body{
  padding: 1rem 0 10rem;
}

.category-title{
    text-align: center;
    margin: 2rem;
    color: #fce5b0;
    font-size: 1.9rem;
}

.item-list{
  margin: 0 1rem;
  padding: 1.5rem 7% 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  z-index: 100;
}

.item-list-titles{
  padding: 10vh 0;
  margin-bottom: 10vh;
  overflow: hidden;
  object-fit: cover;
}


.titles{
  position: relative;
}

.item-list-title{
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem 0;
    text-shadow: 0 0 5px black;
    height: 100%;
}

.item-list-subtitle{
  text-align: center;
  color: #fcf5c0;
  font-size: 1.7rem;
  text-shadow: 0 0 5px black;
  font-weight: 400;
}

.not-found{
  color: #fff;
  text-align: center;
  margin-top: 3rem;
}

.item-list::-webkit-scrollbar {
  width: 0.5rem;
  z-index: 10;
}


.item-list::-webkit-scrollbar-track {
  background-color: linear-gradient(to top, #101018, #1b1b21);;
}
  
.item-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #444;
}
  
.item-list::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.item-list::-webkit-scrollbar-corner{
  background-color: #232327;
}