.category-title{
    text-align: center;
    margin: 2rem;
    color: #fce5b0;
    font-size: 1.9rem;
}

.item-list{
    margin: 1rem 5% 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 100vh;
    overflow: scroll;
    background-image: linear-gradient(to top, #101018, #1b1b21);
}

.item-list-title{
    text-align: center;
    color: #000;
    font-size: 2.5rem;
    padding: 25vh 0;
    background-image: url(/src/img/aboutbackground.jpg);
    background-color: #101018;
}

.item-list::-webkit-scrollbar {
    width: 0.5rem;
    z-index: 10;
  }


  .item-list::-webkit-scrollbar-track {
    background-color: linear-gradient(to top, #101018, #1b1b21);;
  }
  
  .item-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #444;
  }
  
  .item-list::-webkit-scrollbar-thumb:hover {
    background-color: #666;
  }
