.item-list-body{
  padding-bottom:10rem;
}

.category-title{
    text-align: center;
    margin: 2rem;
    color: #fce5b0;
    font-size: 1.9rem;
}

.item-list{
  margin: 0 1rem;
  padding: 0 7% 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  z-index: 100;
}

.item-list-titles{
  padding: 10vh 0;
  margin-bottom: 10vh;
  overflow: hidden;
  object-fit: cover;
}

.titles{
  position: relative;
}

.item-list-title{
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem 0;
    text-shadow: 0 0 5px black;
    height: 100%;
}

.item-list-subtitle{
  text-align: center;
  color: #fcf5c0;
  font-size: 1.7rem;
  text-shadow: 0 0 5px black;
  font-weight: 400;
}

@media (max-width: 991px){
  .item-list{
    padding: 0 2%;
  }
}